{% extends 'base.html.twig' %}

{% block title %}Prisijungimas!{% endblock %}

{% block body %}

<div class="example-wrapper">

    <div>
        Galima jungtis
        <ul>
            <li><strong>Admin</strong> vartotoju tam naudoti prisijungimo duomenis: el. paštas - <strong>admin@admin.lt</strong>, slaptažodis - <strong>admin</strong></li>
            <li><strong>Parastu</strong> vartotoju tam naudojant prisijungimo duomenis: el. paštas - <strong>user@user.lt</strong>, slaptažodis - <strong>user</strong> </li>
        </ul>

    </div>

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Prašome prisijungti</h1>
        <label for="inputEmail">El. paštas</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Slaptažodis</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary" type="submit">
            Prisijungti
        </button>
    </form>
    <div>&nbsp;</div>
    <div>
        <a href="{{ path('home_page') }}">Atgal</a>
    </div>
</div>
{% endblock %}
